/* Style for all*/

body {
    height: 900px;
}


.years-container{
    width: 100%;
    margin-left: 5%;
}

.year{
    display: inline-block;
    margin-left: 8.2%;
    background: #4CC2FF;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.year-notyet {
    display: inline-block;
    margin-left: 8.2%;
    background: #999;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

/* 1st item */

.timeline-item1 {
    width: 100%;
    overflow: hidden;
}

.item-text1 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text1 p {
    margin-bottom: 0px;
}

.item-timeline1 {
    margin-left: 140px;
}

.item-line1 {
    width: 95%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-billbrief1 {
    width: 300px;
    font-size: 11px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore1 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore1:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle1 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 3.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle1::after {
    background: #fff;
}

.circle2 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 18%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

.circle3 {
    width: 18px;
    height: 18px;
    background-color: #eee;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 32.5%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

/* 1st Bill expanded area */
#billdetail01 {
    margin-top: 30px;
    margin-left: 15%;
    width: 78%;
    height: 640px;
    border: 3px #999 solid;
    display: none;
}

#billdetail01 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail01 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress01 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 35%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

.billRecomm01 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    margin-left: 20px;
}

.billRecomm01_bottom {
    border-bottom: 1px dotted #4CC2FF;
}

.Recomm_tooltiptext01 {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #4CC2FF;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.billRecomm01:hover .Recomm_tooltiptext01 {
    visibility: visible;
    opacity: 1;
}


/* 2nd item */

.timeline-item2 {
    width: 100%;
    overflow: hidden;
}

.item-text2 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text2 p {
    margin-bottom: 0px;
}

.item-timeline2 {
    margin-left: 140px;
}

.item-line2 {
    width: 95%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-billbrief2 {
    width: 300px;
    font-size: 11px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore2 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore2:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle2-1 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 3.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle2-2 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 18%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

.circle2-3 {
    width: 18px;
    height: 18px;
    background-color: #FAE809;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 0%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

.circle2-4 {
    width: 18px;
    height: 18px;
    background-color: #eee;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 29.9%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

/* 2nd Bill expanded area */
#billdetail02 {
    margin-top: 30px;
    margin-left: 15%;
    width: 78%;
    border: 3px #999 solid;
    display: none;
}

#billdetail02 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail02 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse2:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 3rd item */

.timeline-item3 {
    width: 100%;
    overflow: hidden;
}

.item-text3 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text3 p {
    margin-bottom: 0px;
}

.item-timeline3 {
    margin-left: 140px;
}

.item-line3 {
    width: 95%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-billbrief3 {
    width: 300px;
    font-size: 11px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore3 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore3:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle3-1 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 3.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle3-1::after {
    background: #fff;
}

.circle3-2 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 18%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

.circle3-3 {
    width: 18px;
    height: 18px;
    background-color: #eee;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 32.5%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

/* 3rd Bill expanded area */
#billdetail03 {
    margin-top: 30px;
    margin-left: 15%;
    width: 78%;
    border: 3px #999 solid;
    display: none;
}

#billdetail03 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail03 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse3 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse3:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 4th item */

.timeline-item4 {
    width: 100%;
    overflow: hidden;
}

.item-text4 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text4 p {
    margin-bottom: 0px;
}

.item-timeline4 {
    margin-left: 140px;
}

.item-line4 {
    width: 95%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-billbrief4 {
    width: 300px;
    font-size: 11px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore4 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore4:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle4-1 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 3.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle4-1::after {
    background: #fff;
}

.circle4-2 {
    width: 18px;
    height: 18px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 18%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

.circle4-3 {
    width: 18px;
    height: 18px;
    background-color: #eee;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 32.5%;
    /*margin-top: 5px;*/
    z-index: 1;
    cursor: pointer;
}

/* 4th Bill expanded area */
#billdetail04 {
    margin-top: 30px;
    margin-left: 15%;
    width: 78%;
    border: 3px #999 solid;
    display: none;
}

#billdetail04 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail04 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse4 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse4:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* ... New Code */


/* 1st line */


.law-title-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    color: #fff;
    background: orange;
    font-size: 20px;
    padding: 10px;
    top: 110px;
    width: 20%;
}

.law-title-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    top: 150px;
}

.law-title-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    top: 110px;
    width: 20%;
}

.law-title-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    top: 80px;
    width: 20%;
    top: 170px;
}

.law-title-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #999;
    background: #999;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    top: 110px;
    width: 20%;
}

.law-title-3::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #999;
    border-top: 0;
}

.law-details-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    top: 150px;
}

/* 2nd line */

.line2 {
    width: 95%;
    height: 6px;
    background-color: #999;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
    z-index:-1;
}

.circle2_1 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 18.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle2_2 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 25.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle2_3 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 11%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.law-title-2_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    color: #fff;
    background: orange;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-2_1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-2_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-2_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-2_2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-2_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    margin-top: 6%;
    width: 20%;
}

.law-title-2_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #999;
    background: #999;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-2_3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #999;
    border-top: 0;
}

.law-details-2_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top:6%;
}


/* 3rd line */

.line3 {
    width: 95%;
    height: 6px;
    background-color: #999;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 8%;
    position: relative;
    z-index:-1;
}

.circle3_1 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 4.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle3_2 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 25.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle3_3 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 25%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.law-title-3_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    color: #fff;
    background: orange;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-3_1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-3_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-3_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-3_2::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-3_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-3_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #999;
    background: #999;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-3_3::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #999;
    border-top: 0;
}

.law-details-3_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}


/* 4th line */

.line4 {
    width: 95%;
    height: 6px;
    background-color: #999;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 8.5%;
    position: relative;
    z-index:-1;
}

.circle4_1 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 32.3%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle4_2 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 25%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.law-title-4_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    color: #fff;
    background: orange;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-4_1::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-4_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-4_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-4_2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-4_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

/* 5th line */

.line5 {
    width: 95%;
    height: 6px;
    background-color: #999;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 8.5%;
    position: relative;
    z-index:-1;
}

.circle5_1 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 15.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle5_2 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 25.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle5_3 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 40.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.law-title-5_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    color: #fff;
    background: orange;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-5_1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-5_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-5_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-5_2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-5_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-5_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #999;
    background: #999;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-5_3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #999;
    border-top: 0;
}

.law-details-5_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

/* 6th line */

.line6 {
    width: 95%;
    height: 6px;
    background-color: #999;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 8.5%;
    position: relative;
    z-index:-1;
}

.circle6_1 {
    width: 20px;
    height: 20px;
    background-color: orange;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 43.5%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.circle6_2 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* Key to set a circle */
    border-radius: 15px;
    border: 3px solid orange;
    float: left;
    margin-left: 25%;
    margin-top: -1.5%;
    z-index: 1;
    cursor: pointer;
}

.law-title-6_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    color: #fff;
    background: orange;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-6_1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-6_1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-6_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid orange;
    background: orange;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-6_2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: orange;
    border-top: 0;
}

.law-details-6_2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    margin-top: 6%;
    width: 20%;
}

.law-title-6_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #999;
    background: #999;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-6_3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #999;
    border-top: 0;
}

.law-details-6_3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}







