/* Styles for 11- 20 */

/* For show items from 11 to 20 */

#timeline-show1120{
    margin-left: 30px;
    clear: left;
}


#timeline-show1120 p{
    width: 31%;
    font-size: 18px;
/*    text-decoration: underline;*/
    font-family: "Roboto",sans-serif;
    margin-top: 0px;
    float: left;
    cursor: pointer;
}

#timeline-hide1120 p{
    width: 60%;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    font-family: "Roboto",sans-serif;
    cursor: pointer;
}

#timeline-bp1120-plusSign {
    width: 20px;
    margin-top: 2px;
/*    margin-left: 10px;*/
    float: left;
}

#timeline-1120 {
    display: none;
}

#timeline-hide1120 {
    display: none;
}

/* Show/hide item 21-30 */

#timeline-show2130{
    margin-left: 30px;
    clear: left;
}

#timeline-show2130 p{
    width: 31%;
    font-size: 18px;
/*    text-decoration: underline;*/
    font-family: "Roboto",sans-serif;
    margin-top: 0px;
    float: left;
    cursor: pointer;
}

#timeline-hide2130 p{
    width: 60%;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    font-family: "Roboto",sans-serif;
    cursor: pointer;
}

#timeline-2130 {
    display: none;
}

#timeline-hide2130 {
    display: none;
}

#timeline-bp2130-plusSign {
    width: 20px;
    margin-top: 2px;
/*    margin-left: 10px;*/
    float: left;
}

/* 11 item */

.timeline-item11 {
    width: 100%;
    overflow: hidden;
}

.item-text11 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text11 p {
    margin-bottom: 0px;
}

.item-timeline11 {
    margin-left: 180px;
}

.item-line11 {
    width: 50%;
    height: 2px;
    /*background-color: #999;*/
    border-bottom: 3px dotted #999;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    z-index:-1;
}

.item-bpbrief11 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore11 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore11:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}


/* 1st Bill expanded area */
#billdetail11 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 640px;
    border: 3px #999 solid;
    display: none;
}

#billdetail11 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail11 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress11 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 35%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse11 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse11:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

.billRecomm11 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    margin-left: 20px;
    cursor: default;
}

.billRecomm11_bottom {
    border-bottom: 1px dotted #4CC2FF;
}

.Recomm_tooltiptext11 {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #4CC2FF;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.billRecomm11:hover .Recomm_tooltiptext01 {
    visibility: visible;
    opacity: 1;
}


/* 12th item */

.timeline-item12 {
    width: 100%;
    overflow: hidden;
}

.item-text12 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text12 p {
    margin-bottom: 0px;
}

.item-timeline12 {
    margin-left: 180px;
}

.item-line12 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief12 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore12 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore12:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle12-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 32%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}


/* 12th Bill expanded area */
#billdetail12-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 660px;
    border: 3px #999 solid;
    display: none;
}

#billdetail12-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail12-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress12-1 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse12-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse12-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 13rd item */

.timeline-item13 {
    width: 100%;
    overflow: hidden;
}

.item-text13 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text13 p {
    margin-bottom: 0px;
}

.item-timeline13 {
    margin-left: 180px;
}

.item-line13 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

#billprogress13 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.item-bpbrief13 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore13 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore13:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle13-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 18%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

/* 13rd Bill expanded area */
#billdetail13-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 530px;
    border: 3px #999 solid;
    display: none;
}

#billdetail13-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail13-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse13-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse13-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 14th item */

.timeline-item14 {
    width: 100%;
    overflow: hidden;
}

.item-text14 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text14 p {
    margin-bottom: 0px;
}

.item-timeline14 {
    margin-left: 180px;
}

.item-line14 {
    width: 50%;
    height: 2px;
    /*background-color: #999;*/
    border-bottom: 3px dotted #999;
    border-radius: 5px;
    margin-top: 45px;
    position: relative;
    z-index:-1;
}

.item-bpbrief14 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore14 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore14:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}



/* 15th item */

.timeline-item15 {
    width: 100%;
    overflow: hidden;
}

.item-text15 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text15 p {
    margin-bottom: 0px;
}

.item-timeline15 {
    margin-left: 180px;
}

.item-line15 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief15 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore15 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore15:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle15-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 18%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle15-2 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 11%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle15-3 {
    width: 18px;
    height: 18px;
    background-color: #ED6F1D;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 0%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle15-4 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 8%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle15-5 {
    width: 18px;
    height: 18px;
    background-color: #ED6F1D;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 0%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

/* 15rd Bill expanded area */

#billdetail15-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 530px;
    border: 3px #999 solid;
    display: none;
}

#billdetail15-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail15-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse15-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse15-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 15th-2 */
#billdetail15-2 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 530px;
    border: 3px #999 solid;
    display: none;
}

#billdetail15-2 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail15-2 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse15-2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse15-2:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 15th-3 */
#billdetail15-3 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 530px;
    border: 3px #999 solid;
    display: none;
}

#billdetail15-3 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail15-3 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse15-3 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse15-3:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 15th-4 */
#billdetail15-4 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 530px;
    border: 3px #999 solid;
    display: none;
}

#billdetail15-4 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail15-4 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse15-4 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse15-4:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 15th-5 */
#billdetail15-5 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 530px;
    border: 3px #999 solid;
    display: none;
}

#billdetail15-5 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail15-5 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse15-5 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse15-5:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 6th item */

.timeline-item16 {
    width: 100%;
    overflow: hidden;
}

.item-text16 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text16 p {
    margin-bottom: 0px;
}

.item-timeline16 {
    margin-left: 180px;
}

.item-line16 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief16 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore16 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore16:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle16-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 31.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle16-2 {
    width: 18px;
    height: 18px;
    background-color: #ED6F1D;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 0%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle16-3 {
    width: 18px;
    height: 18px;
    background-color: #ED6F1D;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 8%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

/* 6th Bill expanded area */
#billdetail16-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 580px;
    border: 3px #999 solid;
    display: none;
}

#billdetail16-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail16-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress16-1 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse16-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse16-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 16th-2 */
#billdetail16-2 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 580px;
    border: 3px #999 solid;
    display: none;
}

#billdetail16-2 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail16-2 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress16-2 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse16-2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse16-2:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 16th-3 */
#billdetail16-3 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 580px;
    border: 3px #999 solid;
    display: none;
}

#billdetail16-3 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail16-3 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress16-3 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse16-3 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse16-3:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 17th item */

.timeline-item17 {
    width: 100%;
    overflow: hidden;
}

.item-text17 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text17 p {
    margin-bottom: 0px;
}

.item-timeline17 {
    margin-left: 180px;
}

.item-line17 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief17 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore17 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore17:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle17-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 44.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}


/* 17th Bill expanded area */
#billdetail17-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 730px;
    border: 3px #999 solid;
    display: none;
}

#billdetail17-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail17-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress17-1 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse17-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse17-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}



/* 18th item */

.timeline-item18 {
    width: 100%;
    overflow: hidden;
}

.item-text18 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text18 p {
    margin-bottom: 0px;
}

.item-timeline18 {
    margin-left: 180px;
}

.item-line18 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief18 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore18 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore18:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle18-1 {
    width: 18px;
    height: 18px;
    background-color: #168dc5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 31.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle18-2 {
    width: 18px;
    height: 18px;
    background-color: #ED6F1D;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 10.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}



/* 18th Bill expanded area */
#billdetail18-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 590px;
    border: 3px #999 solid;
    display: none;
}

#billdetail18-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail18-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress18-1 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse18-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse18-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 18th Bill expanded area 2*/
#billdetail18-2 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 430px;
    border: 3px #999 solid;
    display: none;
}

#billdetail18-2 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail18-2 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress18-2 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.billNo {
    background-color: #999;
    color: #ffffff;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.billNo h3{
    margin-top: 3px;
    margin-bottom: auto;
    margin-left: 40%;
    float: left;
}

.billTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#tri-collapse18-2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse18-2:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* 19th item */

.timeline-item19 {
    width: 100%;
    overflow: hidden;
}

.item-text19 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text19 p {
    margin-bottom: 0px;
}

.item-timeline19 {
    margin-left: 180px;
}

.item-line19 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief19 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore19 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore19:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle19-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 3%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle19-2 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 26%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle19-3 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 0%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle19-4 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 0%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

.circle19-5 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 5.5%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}


/* 19th Bill expanded area */
#billdetail19-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 680px;
    border: 3px #999 solid;
    display: none;
}

#billdetail19-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail19-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress19-1 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse19-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse19-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 19th-2 */
#billdetail19-2 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 600px;
    border: 3px #999 solid;
    display: none;
}

#billdetail19-2 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail19-2 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress19-2 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse19-2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse19-2:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 19th-3 */
#billdetail19-3 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 600px;
    border: 3px #999 solid;
    display: none;
}

#billdetail19-3 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail19-3 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress19-3 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse19-3 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse19-3:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 19th-4 */
#billdetail19-4 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 600px;
    border: 3px #999 solid;
    display: none;
}

#billdetail19-4 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail19-4 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress19-4 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse19-4 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse19-4:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 19th-5 */
#billdetail19-5 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 600px;
    border: 3px #999 solid;
    display: none;
}

#billdetail19-5 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail19-5 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress19-5 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse19-5 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse19-5:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

/* 20th item */

.timeline-item20 {
    width: 100%;
    overflow: hidden;
}

.item-text20 {
    width: 120px;
    float: left;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.item-text20 p {
    margin-bottom: 0px;
}

.item-timeline20 {
    margin-left: 180px;
}

.item-line20 {
    width: 50%;
    height: 2px;
    background-color: #999;
    border-radius: 5px;
    margin-top: 40px;
    top: 15px;
    position: relative;
    z-index:-1;
}

.item-bpbrief20 {
    width: 300px;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #999;
}

.item-learnmore20 {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.item-learnmore20:hover {
    color: #4CC2FF;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted #4CC2FF;
    cursor: pointer;
}

.circle20-1 {
    width: 18px;
    height: 18px;
    background-color: #168DC5;
    /* Key to set a circle */
    border-radius: 15px;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 45%;
    /*margin-top: 1px;*/
    z-index: 1;
    cursor: pointer;
}

/* 20th Bill expanded area */
#billdetail20-1 {
    margin-top: 10px;
    margin-left: 15%;
    width: 78%;
    height: 580px;
    border: 3px #999 solid;
    display: none;
}

#billdetail20-1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 20px;
}

#billdetail20-1 h4 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#billprogress20-1 {
    width:30%;
    margin-left: 20px;
    margin-bottom: 10px;
}

#tri-collapse20-1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}

#tri-collapse20-1:hover {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5b5b5b;
    margin-left: 5%;
    padding-top: 5px;
    cursor: pointer;
}


/* Circles style */


/* 1th */
.law-title-11-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    top: 340px;
    width: 20%;
}

.law-title-11-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-11-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    top: 380px;
}

.law-title-11-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ed6f1d;
    background: #ed6f1d;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    top: 340px;
    width: 20%;
}

.law-title-11-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ed6f1d;
    border-top: 0;
}

.law-details-11-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ed6f1d;
    border-bottom: 1px solid #ed6f1d;
    border-right: 1px solid #ed6f1d;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    top: 380px;
    width: 20%;
}

/* 2nd line */

.law-title-12-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-12-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-12-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}


/* 3rd line */

.law-title-13-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-13-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-13-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}



/* 4th line */

.law-title-14-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-14-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top:-9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-14-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-14-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ed6f1d;
    background: #ed6f1d;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-14-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ed6f1d;
    border-top: 0;
}

.law-details-14-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ed6f1d;
    border-bottom: 1px solid #ed6f1d;
    border-right: 1px solid #ed6f1d;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

/* 5th line */


.law-title-15-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-15-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-15-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-15-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    background: #168DC5;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-15-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-15-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-15-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ED6F1D;
    background: #ED6F1D;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-15-3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ED6F1D;
    border-top: 0;
}

.law-details-15-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ED6F1D;
    border-bottom: 1px solid #ED6F1D;
    border-right: 1px solid #ED6F1D;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}


.law-title-15-4 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    background: #168DC5;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-15-4::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-15-4 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-15-5 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ED6F1D;
    background: #ED6F1D;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-15-5::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ED6F1D;
    border-top: 0;
}

.law-details-15-5 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ED6F1D;
    border-bottom: 1px solid #ED6F1D;
    border-right: 1px solid #ED6F1D;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

/* 6th line */

.law-title-16-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-16-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-16-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 8%;
}


.law-title-16-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ED6F1D;
    color: #fff;
    background: #ED6F1D;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-16-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ED6F1D;
    border-top: 0;
}

.law-details-16-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ED6F1D;
    border-bottom: 1px solid #ED6F1D;
    border-right: 1px solid #ED6F1D;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-16-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ED6F1D;
    color: #fff;
    background: #ED6F1D;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-16-3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ED6F1D;
    border-top: 0;
}

.law-details-16-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ED6F1D;
    border-bottom: 1px solid #ED6F1D;
    border-right: 1px solid #ED6F1D;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}



/* 7th line */

.law-title-17-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-17-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-17-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-17-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ed6f1d;
    background: #ed6f1d;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-17-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ed6f1d;
    border-top: 0;
}

.law-details-17-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ed6f1d;
    border-bottom: 1px solid #ed6f1d;
    border-right: 1px solid #ed6f1d;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    margin-top: 6%;
    width: 20%;
}


/* 8th line */

.law-title-18-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-18-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-18-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-18-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #ED6F1D;
    color: #fff;
    background: #ED6F1D;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-18-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #ED6F1D;
    border-top: 0;
}

.law-details-18-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #ED6F1D;
    border-bottom: 1px solid #ED6F1D;
    border-right: 1px solid #ED6F1D;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

/* 19th line */

.law-title-19-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-19-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-19-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 8%;
}

.law-title-19-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-19-2::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-19-2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-19-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-19-3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-19-3 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-19-4 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-19-4::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-19-4 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}

.law-title-19-5 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-19-5::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-19-5 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 8%;
}



/* 20th line */

.law-title-20-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #168DC5;
    color: #fff;
    background: #168DC5;
    font-size: 20px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
}

.law-title-20-1::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -9px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #168DC5;
    border-top: 0;
}

.law-details-20-1 {
    display: none;
    position: absolute;
    border-radius: 3px;
    border-left: 1px solid #168DC5;
    border-bottom: 1px solid #168DC5;
    border-right: 1px solid #168DC5;
    padding: 10px;
    background: #fff;
    font-size: 15px;
    width: 20%;
    margin-top: 6%;
}