.item-line1-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line2-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line3-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line4-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}


.item-line5-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line6-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line7-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line8-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line9-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line10-2,.item-line12-2, .item-line13-2, .item-line15-2, .item-line16-2, .item-line17-2, .item-line18-2, .item-line19-2, .item-line20-2, .item-line21-2, .item-line23-2, .item-line24-2, .item-line25-2, .item-line26-2, .item-line29-2, .item-line30-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line11-2 {
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line14-2 {
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line22-2 {
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line27-2 {
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-line28-2 {
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}


.item-lineG1-2, .item-lineG2-2, .item-lineG3-2, .item-lineG4-2, .item-lineG5-2, .item-lineG5-2, .item-lineG7-2{
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -2px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.item-lineG6-2 {
    width: 36%;
    border-radius: 5px;
    border: none;
    border-top: 2px #999 dashed;
    margin-top: -17px;
    float: right;
    top: 15px;
    position: relative;
    z-index: -1;
}

.tri-text{
    padding-left: 20px;
}